extends header
block content
  .sitecontent
    .container
      .row
        .col-sm-12
            .col-sm-6
                .heading_h1
                    h1  About Us
    .sitecontent
        .container
            .row
                .col-sm-12
                    .footer_information
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra velit lacus, eget semper ligula tincidunt id. Phasellus mattis, nisl eu blandit venenatis, metus mi accumsan mauris, pellentesque dignissim sapien lacus sit amet enim. Nam arcu dui, tempus sit amet elementum id, interdum ut neque. Ut scelerisque lacus est, at sollicitudin nibh bibendum vel. Aliquam dignissim leo at justo tincidunt aliquet. Morbi aliquet ante tincidunt, blandit odio id, imperdiet neque. Cras risus purus, volutpat at semper non, volutpat sit amet sem. Quisque sed mi purus. Morbi venenatis condimentum nisi, at auctor enim finibus ac. Nullam luctus ligula eros. In in lacus eget ante suscipit fringilla et quis eros. Nulla at pharetra velit, sed semper arcu. Ut in elit malesuada, tristique nibh eu, hendrerit velit. Aenean vestibulum interdum malesuada. Proin feugiat nunc non lacus ultrices, in interdum turpis scelerisque. Cras magna dui, placerat eget libero at, ornare condimentum erat.