extends header_user
block content
  .container
    .row
      .col-sm-offset-3.col-sm-6.col-sm-onset-3
        .signin_form
          form(action="/profile", name='change_password' method="post")
            h1  Change Password
            .login_form
                .col-sm-12
                    div
                    input(type="password" name="email_change_old_password" id="email_change_old_password" placeholder="Old Password")
                    span= span
                .col-sm-12
                    div
                    input(type="password" name="email_change_new_password" id="email_change_new_password" placeholder="New Password")
                    span= span
                .col-sm-12
                    div
                    input(type="password" name="email_change_password" id="email_change_password" placeholder="Confirm Password")
                    span= span
                
                .col-sm-12.login_submit
                    div
                    button#change_password Next
                .clear
