block footer_email
	.copyright
		.container(style='background-color: #e30613;')
			p(style='margin-bottom: 0px;color: #fff;font-size: 10px;padding: 10px 0px;') © 2017 Company Name. All Rights Reserved.
