block footer
	.footer
		.container
			.row
				.col-sm-4
					div
						h3 Company
						ul
							li
								a(href="#") About
							li
								a(href="#") Careers
							li
								a(href="#") Partnership
							li
								a(href="#") Investers

				.col-sm-4
					div
						h3 Support
						ul
							li
								a(href="#") Contact Us
							li
								a(href="#") Feedback

				.col-sm-4
					div
						h3 Marketers
						ul         
							li
								a(href="#") Sponsors
							li
								a(href="#") Advertisers
	.copyright
		.container
			.row
				.col-sm-4
					p © 2017 Company Name. All Rights Reserved.
	//- End of footer

	//- Jquery
	script(src="/bootstrap/js/bootstrap.min.js")
	script(src="/js/custom.js")
	script(src="/js/datatable.js")
	script(src="/javascripts/index.js")
	link(href="/css/datatable.css")